<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Assignment 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col padding class="title" text-center>
      Enter the Right Code
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col padding text-center *ngIf=didWin()>
You won!
  </ion-col>
  <ion-col padding text-center *ngIf=!didWin()>
      Tap twice, press four times
        </ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-list>
  <ion-item>
    Tapped: {{tap}}
  </ion-item>
  <ion-item>
    Pressed: {{pressed}}
  </ion-item>
</ion-list>
</ion-col>
</ion-row>
<ion-row>
  <ion-col col-4>
    <button ion-button color="danger" (click)="reset()" block small>Reset All</button>
  </ion-col>
  <ion-col col-4>
    <button ion-button color="danger" block small (click)="resetTap()">Reset "Taps"</button>
  </ion-col>
  <ion-col col-4>
    <button ion-button color="danger" block small (click)="resetPressed()">Reset "Pressed"</button>
  </ion-col>
</ion-row>
<ion-row class="tabPRess">
  <ion-col col-6 (tap)="tapEvent($event)" text-center>
    Tap here
  </ion-col>
  <ion-col col-6 (press)="pressEvent($event)" text-center>
    Press here
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>